<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HiveGameWPFApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendshipManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendRequestManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILeaderBoardManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailVerificationManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailInvitationManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserSessionManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchCreatorManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
		
        <client>
            <endpoint address="net.tcp://localhost:1441/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="HiveProxy.IUserManager"
                name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:1441/FriendshipService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendshipManager"
                contract="HiveProxy.IFriendshipManager" name="NetTcpBinding_IFriendshipManager" />
            <endpoint address="net.tcp://localhost:1441/FriendRequestService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendRequestManager"
                contract="HiveProxy.IFriendRequestManager" name="NetTcpBinding_IFriendRequestManager" />
            <endpoint address="net.tcp://localhost:1441/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatManager" contract="HiveProxy.IChatManager"
                name="NetTcpBinding_IChatManager" />
            <endpoint address="net.tcp://localhost:1441/LeaderBoardService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderBoardManager"
                contract="HiveProxy.ILeaderBoardManager" name="NetTcpBinding_ILeaderBoardManager" />
            <endpoint address="net.tcp://localhost:1441/EmailVerificationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailVerificationManager"
                contract="HiveProxy.IEmailVerificationManager" name="NetTcpBinding_IEmailVerificationManager" />
            <endpoint address="net.tcp://localhost:1441/EmailInvitationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailInvitationManager"
                contract="HiveProxy.IEmailInvitationManager" name="NetTcpBinding_IEmailInvitationManager" />
            <endpoint address="net.tcp://localhost:1441/UserSessionService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserSessionManager"
                contract="HiveProxy.IUserSessionManager" name="NetTcpBinding_IUserSessionManager" />
            <endpoint address="net.tcp://localhost:1441/MatchCreatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchCreatorManager"
                contract="HiveProxy.IMatchCreatorManager" name="NetTcpBinding_IMatchCreatorManager" />
            <endpoint address="net.tcp://localhost:1441/FriendsService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="HiveProxy.IFriendsManager"
                name="NetTcpBinding_IFriendsManager" />
            <endpoint address="net.tcp://localhost:1441/LobbyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyManager" contract="HiveProxy.ILobbyManager"
                name="NetTcpBinding_ILobbyManager" />
            <endpoint address="net.tcp://localhost:1441/GameService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameManager" contract="HiveProxy.IGameManager"
                name="NetTcpBinding_IGameManager" />
        </client>
    </system.serviceModel>
	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file value="logs/logfile.txt" />
			<datePattern value="yyyy-MM-dd'-FULL.txt'" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="2MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="File" />
		</root>
	</log4net>
 <userSettings>
  <HiveGameWPFApp.Properties.Settings>
   <setting name="Language" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="Sound" serializeAs="String">
    <value>On</value>
   </setting>
  </HiveGameWPFApp.Properties.Settings>
 </userSettings>
</configuration>